.user-dynamic-item {


}
.header {
    display: inline-flex;
    margin-left: 14px;
}

.name{
    margin-left: 12px;
}
.name open-data{
    font-size: 32px;
    display: block;
}
.name text {
    font-size:24px;
    padding:0px;
}
.content {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}
.content text {
    font-size: 28px;
}
.button-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 16px;
}