.item {
    
}

.header {
    display: inline-flex;
    margin-left: 14px;
}

.name{
    margin-left: 12px;
}
.name view{
    font-size: 32px;
}
.r-name {
    margin-top: 6px;
    margin-left: 12px;
    font-size: 26px;
}
.content {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}
.content text {
    font-size: 28px;
}